html,
body {
    margin: 0;
    font-family: $base-font-family;
}

body {
    margin: 0;
    height: 100%;
}

html, body, svg-map, svg-map > svg {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    padding: 0 50px;

    @media screen and (max-width : 768px) {
        padding: 0 15px;
    }
}

a {
    text-decoration: none;
}

.page-wrap {
    position: relative;
}
